/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

$heightOfLissajous : 547px;
$secondaryTextColor: #757575;
$darkPrimaryColor : #00796B;
$accentColor : #FFC107;

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
}

.head {
  background-color: $darkPrimaryColor;
  p {
    font-size: 60px;
    color: #FFFFFF;
  }
}

.form {
  width: 100%;
  p {
    font-weight: bold;
  }
}

.search {
  background-color: $accentColor;
  height: $heightOfLissajous;
}

#firstEquation {
  background-color: #FFECB3;
}

#secondEquation {
  background-color: #B2DFDB;
}

.plotContain {
  height: $heightOfLissajous;
  color: $secondaryTextColor;
}

.inputField {
  width: 50%;
  display: block;
  margin: auto;
  color: #212121;
  text-align: center;
}

.flexContain {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 350px;
  color: #212121;
}

@media only screen and (max-width: 767px) {
  .flexContain {
    display: flex;
    align-content: center;
    justify-content: center;
    height: 130px;
    padding-bottom: 5px;
  }

  .plotContain {
    height: auto;
  }

  .search {
    background-color: $accentColor;
    height: auto;
  }
}

.flexItem {
  display: flex;
  align-self: center;
}

.textX {
  background-color: $darkPrimaryColor;
  color: floralwhite;;
}

.textY {
  background-color: $accentColor;
  color: black;
}

.plot {

  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
