/**
 *  If you want to override some bootstrap variables, you have to change values here.
 *  The list of variables are listed here bower_components/bootstrap-sass/assets/stylesheets/bootstrap/_variables.scss
 */
$navbar-inverse-link-color: #5AADBB;
$icon-font-path: "../../bootstrap-sass/assets/fonts/bootstrap/";

/**
 *  Do not remove the comments below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

body {
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  font-family: 'Montserrat', sans-serif;
}


.head{
  background-color: rgb(0, 121, 107);
  p{
    font-size: 60px;
    color:#FFFFFF;
  }
}

.form{
  width:100%;
  p{
    font-weight: bold;
  }
}

.search{
  background-color: #FFC107;
}

.inputField{
  width:50%;
  display:block;
  margin:auto;
  color:#212121;
  text-align: center;
}

.flexContain{
  display: flex;
  align-content: center;
  justify-content: center;
  height:360px;
  color:#212121;
  }

@media only screen and (max-width: 767px) {
  .flexContain{
    display: flex;
    align-content: center;
    justify-content: center;
    height:130px;
    padding-bottom: 5px;
  }
}

.flexItem{
  display:flex;
  align-self: center;
}

.textX{
  background-color: #00796B;
  color: floralwhite;
;
}

.textY{
  background-color: #FFC107;
  color: black;
}

.plot{

  display:flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

/**
 *  Do not remove the comments below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
