<div class="container-fluid ">
<div class="form-group" >
  <h3>

    <h3 align="center" style="color:#757575">Type in your parameters:</h3>
    <div class="form">
      <div class="row">
        <p class="col-lg-1 col-md-1  col-sm-1 col-xs-1">A1: </p>
        <input type="text" class="form-control inputField"
                        ng-model="A1"
                        placeholder="A1"/><br>
      </div>
      <div class="row">
        <p class="col-lg-1  col-md-1  col-sm-1  col-xs-1 ">A2: </p>
        <input type="text" class="form-control inputField"
                         ng-model="A2"
                         placeholder="A2"/><br>
      </div>
      <div class="row">
        <p class="col-lg-1  col-md-1  col-sm-1  col-xs-1 ">W1: </p>
        <input type="text" class="form-control inputField"
                         ng-model="W1"
                         placeholder="&omega;1"/><br>
      </div>
      <div class="row">
        <p class="col-lg-1  col-md-1  col-sm-1  col-xs-1 ">W2: </p>
        <input type="text" class="form-control inputField"
                        ng-model="W2"
                        placeholder="&omega;2"/><br>
      </div>
      <div class="row">
        <p class="col-lg-1  col-md-1  col-sm-1  col-xs-1 ">phase: </p>
        <input type="text" class="form-control inputField"
                        ng-model="phase"
                        placeholder="&phi;"/><br>
      </div>
    </div>
    <button type="submit" style="padding-left:40px; padding-right:40px; background-color: #00796B"
            class="btn btn-success col-lg-6 col-lg-offset-3 col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2"
            ng-click="search()">DRAW
    </button>
  </h3>
  <br>
  <br>
</div>
</div>
